<a href="https://colab.research.google.com/github/MakiAfom/PRODOGY_DS_02/blob/main/Data_CLeaning_testdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


test_dataset=pd.read_csv("test_1.csv")
#print (test_dataset)

test_dataset.dropna(subset=['Embarked','Name','Cabin','Sex','Ticket','Fare'], inplace=True)

test_dataset['Age'].fillna(test_dataset['Age'].mean(), inplace=True)




test_dataset[['SibSp', 'Parch']].fillna(0, inplace=True)

print(test_dataset)
#print(test_dataset.isnull().sum())
#print(train_dataset.info())

#print(test_dataset.info())
#print(test_dataset.head())
#print(test_dataset.tail())
#print(test_dataset.describe())
#print(test_dataset.shape)

     PassengerId  Pclass                                               Name  \
12           904       1      Snyder, Mrs. John Pillsbury (Nelle Stevenson)
14           906       1  Chaffee, Mrs. Herbert Fuller (Carrie Constance...
24           916       1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
26           918       1                       Ostby, Miss. Helene Ragnhild
28           920       1                            Brady, Mr. John Bertram
..           ...     ...                                                ...
404         1296       1                       Frauenthal, Mr. Isaac Gerald
405         1297       2       Nourney, Mr. Alfred (Baron von Drachstedt")"
407         1299       1                         Widener, Mr. George Dunton
411         1303       1    Minahan, Mrs. William Edward (Lillian E Thorpe)
414         1306       1                       Oliva y Ocana, Dona. Fermina

        Sex   Age  SibSp  Parch         Ticket      Fare            Cabin  \
12   female  23.0      1      0          21228   82.2667              B45
14   female  47.0      1      0    W.E.P. 5734   61.1750              E31
24   female  48.0      1      3       PC 17608  262.3750  B57 B59 B63 B66
26   female  22.0      0      1         113509   61.9792              B36
28     male  41.0      0      0         113054   30.5000              A21
..      ...   ...    ...    ...            ...       ...              ...
404    male  43.0      1      0          17765   27.7208              D40
405    male  20.0      0      0  SC/PARIS 2166   13.8625              D38
407    male  50.0      1      1         113503  211.5000              C80
411  female  37.0      1      0          19928   90.0000              C78
414  female  39.0      0      0       PC 17758  108.9000             C105

    Embarked
12         S
14         S
24         C
26         C
28         S
..       ...
404        C
405        C
407        C
411        Q
414        C

[91 rows x 11 columns]

<ipython-input-21-5ddf270aa134>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_dataset[['SibSp', 'Parch']].fillna(0, inplace=True)

# New Section

# New Section